@import "tailwindcss";
@import "@nuxt/ui";
@source '../../../content';

@theme {
	--font-sans: 'Public Sans', sans-serif;

	--breakpoint-3xl: 1920px;

	--color-orange-50: #fef7ee;
	--color-orange-100: #feeed6;
	--color-orange-200: #fbd9ad;
	--color-orange-300: #f9be7b; /* primary */
	--color-orange-400: #f59742;
	--color-orange-500: #f2781d;
	--color-orange-600: #e35e13;
	--color-orange-700: #bd4711;
	--color-orange-800: #963916;
	--color-orange-900: #793115;
	--color-orange-950: #411609;

	--color-musk-50: #fbf5f5;
	--color-musk-100: #f6eaea;
	--color-musk-200: #f0d9d8;
	--color-musk-300: #e4bebd;
	--color-musk-400: #d39997; /* secondary */
	--color-musk-500: #c07673;
	--color-musk-600: #aa5b58;
	--color-musk-700: #8e4947;
	--color-musk-800: #76403e;
	--color-musk-900: #643938;
	--color-musk-950: #351b1a;

	--color-teal-50: #f1f8f5;
	--color-teal-100: #dcefe6;
	--color-teal-200: #bcded0;
	--color-teal-300: #9accbb; /* tertiary */
	--color-teal-400: #5fa891;
	--color-teal-500: #3e8b76;
	--color-teal-600: #2c6f5e;
	--color-teal-700: #23594c;
	--color-teal-800: #1e473d;
	--color-teal-900: #193b34;
	--color-teal-950: #0d211d;
}

@theme inline {
	--color-primary-50: var(--color-orange-50);
	--color-primary-100: var(--color-orange-100);
	--color-primary-200: var(--color-orange-200);
	--color-primary-300: var(--color-orange-300);
	--color-primary-400: var(--color-orange-400);
	--color-primary-500: var(--color-orange-500);
	--color-primary-600: var(--color-orange-600);
	--color-primary-700: var(--color-orange-700);
	--color-primary-800: var(--color-orange-800);
	--color-primary-900: var(--color-orange-900);
	--color-primary-950: var(--color-orange-950);

	--color-secondary-50: var(--color-musk-50);
	--color-secondary-100: var(--color-musk-100);
	--color-secondary-200: var(--color-musk-200);
	--color-secondary-300: var(--color-musk-300);
	--color-secondary-400: var(--color-musk-400);
	--color-secondary-500: var(--color-musk-500);
	--color-secondary-600: var(--color-musk-600);
	--color-secondary-700: var(--color-musk-700);
	--color-secondary-800: var(--color-musk-800);
	--color-secondary-900: var(--color-musk-900);
	--color-secondary-950: var(--color-musk-950);

	--color-tertiary-50: var(--color-teal-50);
	--color-tertiary-100: var(--color-teal-100);
	--color-tertiary-200: var(--color-teal-200);
	--color-tertiary-300: var(--color-teal-300);
	--color-tertiary-400: var(--color-teal-400);
	--color-tertiary-500: var(--color-teal-500);
	--color-tertiary-600: var(--color-teal-600);
	--color-tertiary-700: var(--color-teal-700);
	--color-tertiary-800: var(--color-teal-800);
	--color-tertiary-900: var(--color-teal-900);
	--color-tertiary-950: var(--color-teal-950);
}

:root {
	--ui-primary: var(--ui-color-primary-300);
	--ui-secondary: var(--ui-color-secondary-400);

	--ui-color-secondary-50: var(--color-secondary-50);
	--ui-color-secondary-100: var(--color-secondary-100);
	--ui-color-secondary-200: var(--color-secondary-200);
	--ui-color-secondary-300: var(--color-secondary-300);
	--ui-color-secondary-400: var(--color-secondary-400);
	--ui-color-secondary-500: var(--color-secondary-500);
	--ui-color-secondary-600: var(--color-secondary-600);
	--ui-color-secondary-700: var(--color-secondary-700);
	--ui-color-secondary-800: var(--color-secondary-800);
	--ui-color-secondary-900: var(--color-secondary-900);
	--ui-color-secondary-950: var(--color-secondary-950);

	--ui-color-primary-50: var(--color-primary-50);
	--ui-color-primary-100: var(--color-primary-100);
	--ui-color-primary-200: var(--color-primary-200);
	--ui-color-primary-300: var(--color-primary-300);
	--ui-color-primary-400: var(--color-primary-400);
	--ui-color-primary-500: var(--color-primary-500);
	--ui-color-primary-600: var(--color-primary-600);
	--ui-color-primary-700: var(--color-primary-700);
	--ui-color-primary-800: var(--color-primary-800);
	--ui-color-primary-900: var(--color-primary-900);
	--ui-color-primary-950: var(--color-primary-950);
}